body{
    background-color: white;
    opacity: 0.9;
    margin: auto;
}
.c{ 
    display: flex;
    justify-content: space-around;
  
}
.c> div{
    width: 800px;
    height: 900px;
    padding: 8px;
    margin: 10px;
    border: 1px solid goldenrod;/
}
.c{
    /* background-image: url(data/image.png); */
    /* opacity: .4; */
}